ExClient/Service References/ExService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ExService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IExService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IExService_Run_InputMessage">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="IExService_Run_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:message name="IExService_RunScript_InputMessage">
    <wsdl:part name="parameters" element="tns:RunScript" />
  </wsdl:message>
  <wsdl:message name="IExService_RunScript_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunScriptResponse" />
  </wsdl:message>
  <wsdl:message name="IExService_GetEx_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEx" />
  </wsdl:message>
  <wsdl:message name="IExService_GetEx_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExResponse" />
  </wsdl:message>
  <wsdl:portType name="IExService">
    <wsdl:operation name="Run">
      <wsdl:input wsaw:Action="http://tempuri.org/IExService/Run" message="tns:IExService_Run_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExService/RunResponse" message="tns:IExService_Run_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunScript">
      <wsdl:input wsaw:Action="http://tempuri.org/IExService/RunScript" message="tns:IExService_RunScript_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExService/RunScriptResponse" message="tns:IExService_RunScript_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEx">
      <wsdl:input wsaw:Action="http://tempuri.org/IExService/GetEx" message="tns:IExService_GetEx_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IExService/GetExResponse" message="tns:IExService_GetEx_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IExService" type="tns:IExService">
    <wsp:PolicyReference URI="#NetTcpBinding_IExService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://tempuri.org/IExService/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunScript">
      <soap12:operation soapAction="http://tempuri.org/IExService/RunScript" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEx">
      <soap12:operation soapAction="http://tempuri.org/IExService/GetEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExService">
    <wsdl:port name="NetTcpBinding_IExService" binding="tns:NetTcpBinding_IExService">
      <soap12:address location="net.tcp://zhangli:8080/ExServer" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://zhangli:8080/ExServer</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>